 <html>
    <title> Reviews </title>
    <body>
        @{
            ViewData["Title"] = "Home Page";
        }
 
 @foreach(var review in @ViewBag.AllUsers)
 {
     <h4> Review for: @review.RestauName</h4>
     if(@review.Stars == 1)
     {
         <h5> @review.Stars star </h5>
     }
     else {
        <h5> @review.Stars star </h5>
     }
     <h4> Reviewer: @review.UserName </h4>
     <h4> @review.VisitDate </h4>
     <p> @review.Review</p>
     <p>@review.created_at</p>
 }
    </body>
 </html>